.aboutContainer{
    /* padding:40% 0% 0% 5%; */
    padding-top: 25%;
    color: #474747;
}

.skillsDiv {
    display: flex;
    justify-content: space-around;
}
.skillsList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:2rem;
    justify-items: center;
}

.skillIcon{
    width: 50px;
    height:50px; 
    /* margin:10px */
}
.middleSectionAboutPg{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 3.2rem;
    color: #474747;
}

.cvLink{
    color: #474747;
    font-size: 1.5rem;
}

.contactLinks {
padding:10px;
}

.contactLinks a {
    color: #474747;
}

.topAbout{
    padding: 0px 10% 0% 10%;
}
/* .middleSectionItem{
    padding: 0px 8% 0% 10%;
} */

.middleSectionItem{
    padding: 0px 5% 3% 5%;
}

#static-CVBtn{
    /* background-color: white; */
    border-radius: 10%;
    background: hsl(340deg 100% 32%);
    border: none;
    /* border-radius: 12px; */
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.banner{
    /* height:20vh; */
    width: 100vw;
    background-color: #121212;
    white-space: nowrap;
    padding:1.5 3em;
}

.banner div{
    display: flex;
    gap: 4em
}

.banner p{
    font-size: 1.5em;
    color: white;
}

.rightToLeftText{
    animation: rightToLeftText 10s infinite linear;
}

@keyframes rightToLeftText {
    from {
        transform: translateX(0%);
    }
    to{
        transform: translateX(-50%);
    }
}

.leftToRightText{
    animation: leftToRightText 10s infinite linear;
}

@keyframes leftToRightText {
    from {
        transform: translateX(-50%);
    }
    to{
        transform: translateX(0%);
    }
}

.frontButton{
        display: block;
        padding: 12px 42px;
        border-radius: 12px;
        font-size: 1.25rem;
        background: hsl(345deg 100% 47%);
        color: white;
        transform: translateY(-6px);
}

#clicked-CVBtn{
    background-color: red;
    border-radius: 10px;

}

.spinningIcon{
    margin-left: 10px;
}

.CVBtn{
    /* background-color: white; */
    color:black;
    padding:1.5vw;
    font-size: 20px;
}

.aboutHeadingPhoto{
    display: flex;
    flex-direction: row;
}


.profilePicture{
    width:50vh; 
    /* border-radius: 50%; */
}
.aboutMainHeading{
    font-size: 10vh;
}

.aboutSubheadings{
    font-size: 14px;
}

.aboutH2{
    margin: 0px;
    font-size: 20px;
}

#softSkillsSection{
    font-size: 1rem;
    line-height: 3.2rem;
    color: #474747;
    padding-top:20px;
}

.aboutH3{
    margin:0px;
}

.aboutImgDiv{
    height:5vh;
}

.personalInfo{
    padding-bottom: 10px;
}

.waterfallAbout{
    width:60vh;
}

#waterfallImgDiv{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.buttonCvDiv{
    display: flex;
    justify-content: center;
}

.softSkillH3{
    font-size: 18px;
}

.aboutSubheadingsH3{
    font-size: 1.3em;
}

.navbarFullScreenOptions{
    color:#121212;
    font-size: 1.3em;
}

.sideTitleLabelAbout h1 {
    font-size: 12px;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    rotate: 180deg;
    position: fixed;
    height: 10vh;
    bottom: 50vh;
    left: 4vw;
    display: flex;
    color: white;
    mix-blend-mode: difference;
}

@media screen and (min-width:350px) {
    .profilePhotoDiv{
        left: 200px;
    }
}

@media screen and (min-width:375px) {
    /* .skillsList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    } */

    .skillsList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
        justify-items: center;
    }
}

@media screen and (min-width:700px) {
    /* .skillsList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    } */

    .skillsList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3rem;
        justify-items: center;
    }

    .banner p{
        font-size: 1.8em;
        color: white;
    }
    
    .rightToLeftText{
        animation: rightToLeftText 10s infinite linear;
    }
    
    @keyframes rightToLeftText {
        from {
            transform: translateX(0%);
        }
        to{
            transform: translateX(-20%);
        }
    }
    
    .leftToRightText{
        animation: leftToRightText 10s infinite linear;
    }
    
    @keyframes leftToRightText {
        from {
            transform: translateX(-20%);
        }
        to{
            transform: translateX(5%);
        }
    }
    


    .aboutContainer{
        color: black;
        margin-right: auto;
    }
   
}

@media screen and (min-width:900px) {
    .banner p{
        font-size: 1.8em;
        color: white;
    }

    .skillsList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3rem;
        justify-items: center;
    }
    
    .rightToLeftText{
        animation: rightToLeftText 10s infinite linear;
    }
    
    @keyframes rightToLeftText {
        from {
            transform: translateX(50%);
        }
        to{
            transform: translateX(-0%);
        }
    }
    
    .leftToRightText{
        animation: leftToRightText 10s infinite linear;

    }
    
    @keyframes leftToRightText {
        from {
            transform: translateX(-20%);
        }
        to{
            transform: translateX(20%);
        }
    }

}

@media screen and (min-width:1024px) {

    .sectionGrid{
        display: grid;
        grid-template-columns: 25% 75%;
    }

    .skillsDiv {
        display: flex;
        justify-content: flex-start;
    }

    
    .largeScreenColumns{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* .middleSectionAboutPg, #softSkillsSection, #waterfallImgDiv, .profilePhotoDiv,  .aboutH3{
        width: 85%;
    } */

    .aboutContainer{
        /* padding:15% 0% 0% 5%; */
        padding-top: 5%;
        color: black;
        margin-right: auto;
    }

    .skillsList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5rem;
        justify-items: center;
    }

    .skillsDiv{
        margin-top: 30px;
    }



    .rightToLeftText{
        animation: rightToLeftText 10s infinite linear;
    }
    
    @keyframes rightToLeftText {
        from {
            transform: translateX(30%);
        }
        to{
            transform: translateX(-20%);
        }
    }
    
    .leftToRightText{
        animation: leftToRightText 10s infinite linear;

    }
    
    @keyframes leftToRightText {
        from {
            transform: translateX(-10%);
        }
        to{
            transform: translateX(10%);
        }
    }

   
   
}

@media screen and (min-width:1200px) {

    .banner p{
        font-size: 2em;
        color: white;
    }

    @keyframes rightToLeftText {
        from {
            transform: translateX(30vw);
        }
        to{
            transform: translateX(-5vw);
        }
    }
    
    
    @keyframes leftToRightText {
        from {
            transform: translateX(-0vw);
        }
        to{
            transform: translateX(20vw);
        }
    }

    .banner div{
        gap:6em;
    }
   
}
