.contactInnerContainer{
    display: grid;
    padding:15% 0% 0% 5%;
    /* padding:20% 10% 0 15%; */
    grid-template-columns: 10% 90%;
}

.sideTitleLabel h1{
    font-size: 12px;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    rotate:180deg;
    position: fixed;
    height: 100vh;
    bottom: 50vh;
    display: flex;
    /* mix-blend-mode: difference; */
}
.contactInputForm{
    padding-right: 20vh;
}
.contactInputForm input{
    width:80%;
border-bottom: 2px grey solid;
}

.formSubheading{
    letter-spacing: -1px;
}

input{
    height:30px
}
input#message{
    height:150px;
}

.contractLabel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitBtn{

}



@media screen and (min-width:768px){
    .contactInputForm input{
        width:100%;
    }

    .contractLabel h1{
        margin-left:20px;
    }

    
}

@media screen and (min-width:1024px){
    .contactInputForm input{
        width:100%;
    }
}