.contactInnerContainer{
    display: grid;
    grid-template-columns: 10% 90%;
    margin-top:20vh;
    margin-left:20px;
    margin-right:20px;
}

.contractLabel h1{
    margin-left:20px;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    rotate:180deg
}

.contactInputForm input{
    width:80%;
border-bottom: 2px grey solid;
}

@media screen and (min-width:768px){
    .contactInputForm input{
        width:60%;
    }
}

@media screen and (min-width:1024px){
    .contactInputForm input{
        width:60%;
    }
}