.footerSection {
    /* background-color: black; */
    background-color: #59757D;
    /* height: 20vh; */
    /* width: 85%; */
    padding-top:20px;
    /* padding-left:10px;
    padding-right:10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-top-right-radius: 10px; */
}

.outerFooter{
    display: grid;
    grid-template-columns: 90% 10%;
}



/* .topOfPage{
    transform: rotate(-90deg);
} */

/* .link__decor>span.line {
    width: 40px;
    height: 1px;
    position: relative;
    background: #000;
    margin-left: 10px;
} */

.decorTop{
    transform: rotate(-90deg);
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;

}
.line{
    width: 40px;
    height: 1px;
    position: relative;
    background: #000;
    /* margin-left: 50px;
    top: 20px; */
}

.topOfPage{
    margin-top: 10px;
    cursor: pointer;
}

.line:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background: #000;
    width: 8px;
    height: 1px;
    transform-origin: center right;
    transform: rotate(35deg);
}

.footerLinks{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    align-items: center;
}

.contactInnerLinksRow {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.footerName {
    font-size: 15px;
    margin-bottom: 0px;
    color:#FAF9F6;
    margin-left: 10px;
    text-align: center;
}

.navbarFullScreenOptionsFooter{
    text-decoration: none;
    padding: 20px;
    margin-right: 0.5rem;
    /* margin-right: 0.5rem; */
    font-size: 2em;
}

a.navbarFullScreenOptionsFooter {
    color: white;
}
@media screen and (min-width:475px){
    .footerName {
        font-size: 20px;
        /* margin-bottom: 0px;
        color:#FAF9F6;
        margin-left: 10px;
        text-align: center; */
    }
}

@media screen and (min-width:768px){
    .footerSection {
height:20vh;
    }
}