.homepageContainer {

    height:100%;
    width: 100%;
}

.headerBox{
    width: 60px;
    height: 150px;
    position: absolute;
    top: 15px;
    left: 17%;
    display: flex;
    flex-direction: column;
    background-color: red;
    justify-content: space-between;
}


.topHomepage{
    padding:90% 5% 10%;
    background-color: #59757D;
    /* background-color: #121212; */
}

.contactAddress {
    font-size: 10px;
}

.homepageWork h1, .homepageWork h2{
    color: #474747;

}

.contactBanner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 40px;
}


.leftAsideText {

    width: 90%;
    color:white;

}

.leftAsideText h2,
.leftAsideText h3 {
    margin-bottom: 5px;
    margin-top: 0px;
}

.leftAsideText h1 {
    margin-bottom: 5px;
    margin-top: 20px;
}

.linkBarSmallScreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.5vh;
}

.contactSmallScreenLineStart {
    background-color: white;
    color: white;
    border-color: white;
    height: 1px;
    width: 35vw;
}

.contactSmallScreenLineEnd {
    background-color: white;
    color: white;
    border-color: white;
    height: 1px;
    width: 10px
}

.homepageWork{
    background-color: white;

}

.contactInnerLinks {
    padding: 0vw 3vw 0vw 3vw;
    font-size: larger;
}

.contactBanner {
    padding-left: 20px;
}

svg {
    color: white;
}

.longArrow{
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    box-shadow: inset 0 0 0 2px;
    width: 45px;
    height: 6px
}

.longArrow::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    right: 0;
    bottom: -2px
}



@media screen and (min-width: 768px) {

    .topHomepage{
        padding:40% 5% 10%;
        /* height:650px; */
        display:grid;
        /* grid-template-columns: 85% 15%; */
    }

    .homepageInnerContainer {
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 2.5fr;
        width: 95%;
        margin-left: 0vw;
    }

    .rightSideNavOptions li {
        line-height: 4vh;
        font-size: 6.3vw;
    }

    .rightAsideHomepage {
        position: relative;
    }

    .bottomRightHomepage {
        position: absolute;
        bottom: 0;
    }

    .linkBarSmallScreen {
        display: none;
    }


    .contactBanner {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .leftAsideHomepage {
        display: grid;
        grid-template-columns: 1fr 3fr;

    }

    .rightSideNavOptions {
        padding-left: 0;
    }

    .leftAsideText {
        bottom: 0;
        margin-left: 0px;
        margin-right: 5px;
        margin-bottom: 5vh;
    }

    .leftAsideText h3 {
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .contactInnerLinks {
        padding: 0.5vw 0vw;
        font-size: larger;
    }

    .linkBar {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

}

@media screen and (min-width: 1024px) {
    .leftAsideText h3 {
        margin-bottom: 6vh;
        margin-top: 0px;
    }

    .contactInnerLinks {
        padding: 0vw 0vw 0.5vw 0vw;
        font-size: 20px;
    }


    .topHomepage{
        padding:25% 5% 5%;
        /* height:650px; */
        display:grid;
        /* grid-template-columns: 85% 15%; */
    }

}

@media screen and (min-width:1200px){
    .topHomepage{
        padding:25% 5% 5%;
        /* height:650px; */
        display:grid;
        /* grid-template-columns: 85% 15%; */
    }
}