

/* .navbar, .navbarList, .navbarLayout{
    background-color: w;

} */
.navbarLayout{
    display: flex;
    flex-direction: row-reverse;
}


.navbarList{
    padding-top: 20px;
    background-color: black;
}

.navbarList a{
    color:black;
    text-decoration: none;
}

.navbarList li{
    list-style: none;
    font-size: 40px;
}

.logo{
    width:70px;
}

.navbarBars{
    color:white
}

.header{
    position: fixed;
    top: 0;
  z-index: 1;
  width:100vw;
}
.navbar{
    position:absolute;
}
.navbarOptions{
    background-color: black;
    width:100vw;
    height:100vh;
    z-index: 2;
}

.navbarFullScreenOptions {
    text-decoration: none;
}

.animatable {
    position: relative;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    animation: .75s cubic-bezier(1,-0.01,.12,.8) 1s 1 reveal forwards;
}

.animatableWord {
    position: relative;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    animation: .75s cubic-bezier(1,-0.01,.12,.8) 1s 1 reveal forwards;
}
  
  .animatable::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    padding: inherit;
    animation: .75s cubic-bezier(1,-0.01,.12,.8) 1.3s 1 hideBlack forwards;
  }
  
  @keyframes reveal {
    from { clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); }
    to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  }
  
  @keyframes hideBlack {
    from { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    to { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
  }

  .navbarList li p{
    margin-top: 8px;
    margin-right:10px;
    font-size: 12px;
    letter-spacing: 2px;
    color:white;
  }

@media screen and (min-width:700px) {

    .navbarList{
       padding-left:20px
    }

     /* .navbarLayout{
        display: grid;
        grid-template-columns: 2% 98%;
     } */
    /* .homeNav {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
    } */

    .navbarLineStart{
        display: inline;
        background-color: black;
        color: black;
        border-color: black;
        height: 20px;
        width: 0.25vw;
        margin: 0px;
        margin-left: 15px;
    
    }
}

@media screen and (min-width:1024px){
    .navbarList{
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: white;
        margin-left: 20px;
    }

    .navbarList li p{
        color:black;
    }

    .navbarList li{
       font-size: 30px;
       display: flex;
    }
    .navbarLayout{
        display: grid;
        grid-template-columns: 85% 15%;
    }
    .navbarBars{
        color:black
    }

    .fullscreenTopBar{
        width:85%;
        background-color: black;
    }

    .navbarLayout{
        display: none;
    }

    .navbarFullContainer{
        display: grid;
        grid-template-columns: 85% 15% ;
    }
    
    .x{
        color:black
    }

    .navbarOptionsFull.largeNavIconsFull.flex.flex-col.animatable.justify-center.items-center {
        position: fixed;
        background-color: white;
        bottom:3px;
        /* background-color: black; */
        height: 100vh;
        width: 100vw;
    }

    /* .closeFullScreen{
        background-color: black;
        color:white;
    } */

    .closeBackground{
        color:white !important;
    }

}