

.navbarLayout{
    display: flex;
    flex-direction: row-reverse;
}

.navbarList{
    padding-top: 20px;
    background-color: #121212;
}

.navbarList a{
    color: #121212;
    text-decoration: none;
}

.navbarList li{
    list-style: none;
    font-size: 40px;
}

.logo{
    width:70px;
}

.navbarBars{
    /* color:white */
    color: white;
}

.navbarContainer {
    background-color: white;
}


.header{
    position: fixed;
    top: 0;
  z-index: 1;
  width:100vw;
}
.navbar{
    position:absolute;
}
.navbarOptions{
    background-color: #121212;
    width:100vw;
    height:100vh;
    z-index: 2;
}

.navbarFullScreenOptions {
    text-decoration: none;
    padding:5px;
    margin-right: 3.5rem;

}

.animatable {
    position: relative;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    animation: .75s cubic-bezier(1,-0.01,.12,.8) 1s 1 reveal forwards;
}

.animatableWord {
    position: relative;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    animation: .75s cubic-bezier(1,-0.01,.12,.8) 1s 1 reveal forwards;
}
  
  .animatable::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #121212;
    padding: inherit;
    animation: .75s cubic-bezier(1,-0.01,.12,.8) 1.3s 1 hideBlack forwards;
  }
  
  @keyframes reveal {
    from { clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); }
    to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  }
  
  @keyframes hideBlack {
    from { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    to { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
  }

  .navbarList li p{
    margin-top: 8px;
    margin-right:10px;
    font-size: 12px;
    letter-spacing: 2px;
    color: white;
    z-index:50
  }

  .navbarOptionsFull.largeNavIconsFull.flex.flex-col.animatable.justify-center.items-center {
    position: fixed;
    /* background-color: white; */
    background-color: white;
    bottom:3px;
    /* background-color: black; */
    height: 100vh;
    width: 100vw;
    z-index:2
}

svg.svg-inline--fa.fa-x.x {
    color: #121212;
}

.quickLinksDiv{
    padding: 10% 15%;
    background-color: white;
}

.quickLinksDiv h1 {
    padding-bottom: 20px;
}


  

@media screen and (min-width:700px) {

    .navbarList{
       padding-left:20px
    }

    .navbarLineStart{
        display: inline;
        background-color: #121212;
        color: #121212;
        border-color: #121212;
        height: 20px;
        width: 0.25vw;
        margin: 0px;
        margin-left: 15px;
    }
}

@media screen and (min-width:1024px){
    .navbarList{
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: white;
        /* background-color: white; */
        margin-left: 20px;
    }

    .navbarList li p{
        color: #121212;
    }

    .navbarList li{
       font-size: 30px;
       display: flex;
    }
    .navbarLayout{
        display: grid;
        grid-template-columns: 85% 15%;
    }
    .navbarBars{
        color:black
    }

    .navbarFullContainer{
        display: grid;
        grid-template-columns: 85% 15% ;
    }
    
    .x{
        color: #121212;
    }




    .navbarOptionsFull.largeNavIconsFull.flex.flex-col.animatable.justify-center.items-center {
        position: fixed;
        background-color: white;
        /* background-color: white; */
        bottom:3px;
        /* background-color: black; */
        height: 100vh;
        width: 100vw;
    }

    .closeBackground{
        color:white !important;
    }

}