.moreOptionsDiv{
  display: flex;
  justify-content: center;
}

.back h2{
  font-size: 16px;
}

.projectName{
  color:black;
  padding-bottom:10px
}

.cardText{
  padding: 1rem 7% !important;
  color:rgb(113, 113, 113)
}

.fullScreenProjectCard{
  display: flex;
  flex-direction: row;
  padding: 0px 10% 0px 5%;
  margin-bottom: 10rem;
}

.fullScreenProjectCardJS{
  display: flex;
  flex-direction: row;
  padding: 0px 10% 0px 5%;
  margin-bottom: 10rem;
}

.fullScreenProjectCardJS:nth-child(2n){ 
  flex-direction: row-reverse;
}


.appImageFullscreen{
  object-fit: cover;
  border-radius: 6px;
  max-width: 350px;
  height: auto;
  transition: all .2s ease-in-out; 
}

.appImageFullscreen:hover{
  transform: scale(1.1); 
}

.projectText {
  padding-left: 50px;
  padding-right: 50px;
  color: rgb(113, 113, 113);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 
.projectText h2{
  text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

 .circleShadow{ 
  background-color: rgba(0, 0, 0, 0.21);
  border-radius:50%;
  background-size: 22px;
  padding-left:10px;
  padding-right:6px;
  z-index: 1;
  position:relative;
  right:90px; 
 } 

.largeLogo{
  position: fixed;
}
.fullScreenProjectCard:nth-child(2n+1){
  flex-direction: row-reverse;
}



.workContainer {
  /* display: grid; */
  padding: 30% 2% 0% 2%;
  /* grid-template-columns: 10% 90%; */
}

.workTitle{
  padding:0% 0% 5%;
  color: #474747;
}

.linksGrid {
  align-self: center;
  /* justify-items: center; */
}

.rightArrow{
  font-size: 30px;
  margin-left: 10px;
}

.projectShortDescription{
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
  padding-bottom: 10px;
}


  .workLinks{
    color: black;
    font-size: 15px;
  }

  svg.workLinks {
    font-size: 30px;
}
  

  @media screen and (min-width:768px){
    .cardText {
      height: auto;
  }

  a.projectImage {
    display: flex;
    /* object-fit: cover; */
    align-items: center;
}

  .appImage{
    border-radius: 6px;
  }

  .workContainer{
    /* display: grid; */
      padding:10% 0% 0% 5%;
      /* grid-template-columns: 10% 90%; */
  }

  .rightArrow{
    font-size: 40px;
    margin-left: 10px;
  }

  .moreProjects{
    font-size: 20px;
  }

  /* .moreOptionsDiv{
    display: flex;
    justify-content: center;
  } */
  }

  @media screen and (min-width:1024px) {
    .appImageFullscreen{
      object-fit: cover;
      border-radius: 6px;
      max-width: 500px;
      height: auto;
    }
    
  }
  @media screen and (min-width:1500px) {

  .projectText h2{
    font-size: 1.3rem;
  }

  .projectDescriptionFull{
    font-size: 1.2rem;
  }

  .projectCharacteristics{
    font-size: 1.2rem;
  }
  svg.workLinks {
    font-size: 3rem;
}
 
  }
  @media screen and (min-width:1700px) {
    .appImageFullscreen{
      object-fit: cover;
      border-radius: 6px;
      max-width: 700px;
      height: auto;
    }
    
  }